<body>
  
    <div class="header">
      <h1>Organizatori</h1>
    </div>
    
    <div class="organizatori">
      <div class="kartica" *ngFor="let organizator of organizatori">
        <div class="slika">
          <img [src]="organizator.slika" [alt]="organizator.ime" class="slikaProfil">
          <i class="fas fa-helmet-safety kaciga"></i>
        </div>
        <div class="info" (mouseenter)="organizator.hover = true" (mouseleave)="organizator.hover = false">
          <h2>{{ organizator.ime }}</h2>
          <p>{{ organizator.pozicija }}</p>
    
          <div class="detalji" *ngIf="organizator.hover">
            <p class="telefon">
              
              <i class="fas fa-phone"></i> {{ organizator.telefon }}
            </p>
            <div class="linkovi">
            <a [href]="'mailto:' + organizator.email" class="ikonica">
              <i class="fas fa-envelope"></i>
            </a>
            <a [href]="organizator.linkedin" target="_blank" class="ikonica">
              <i class="fab fa-linkedin"></i>
            </a>
          </div>
          </div>
        </div>
        <div class="strelica">
          <i class="fas fa-chevron-up"></i>
        </div>
      </div>
    </div>
    </body>