<!DOCTYPE html>
<html lang="sr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel diskusija</title>
   
</head>

<body>
    <section class="panel-container">
        <h1 class="panel-title">Panel diskusija</h1>
        <h2 class="panel-subtitle">Most između znanja i budućnosti</h2>
        <p class="panel-description">
            Ova Panel diskusija će se fokusirati na ključne izazove i prilike s kojima se studenti susreću prilikom pripreme za ulazak na tržište rada.
            Kroz diskusiju će se identifikovati načini za bolje povezivanje obrazovanja sa industrijom, važnost multidisciplinarnog pristupa i kontinuiranog usavršavanja.
        </p>
        <p class="panel-description">
            Svi zainteresovani će imati priliku da čuju različite perspektive, postavljaju pitanja i zajedno sa diskutuju o temama koje će oblikovati inženjersku budućnost sa stručnjacima iz STEM oblasti i predstavnicima iz poslovnog sveta.
        </p>

        <h3 class="section-title">Ovogodišnji panelisti su:</h3>

        <div class="panelist">
            <h4 class="panelist-name">Željko Bošnjak</h4>
            <p class="panelist-info">
                Iskusni profesionalac u oblasti marketinga i prodaje sa više od 15 godina iskustva u različitim industrijama. Trenutno obavlja funkciju Innovation Lead-a u ICT Hubu, gde donosi jedinstvenu perspektivu na inovacije, oblikovanu njegovom raznovrsnom karijerom kao suosnivač startapa i agencije, lider u koorporativnom okruženju, edukator i konsultant.</p>
        </div>

        <div class="panelist">
            <h4 class="panelist-name">Sandra Savanović</h4>
            <p class="panelist-info">
                Trener poslovnih veština i konsultant za poslovni razvoj i strateško planiranje vise od 20godina. Specializovala se za teme iz preduzetništva, strateškog i operativnog planiranja, upravijanja promenama, organizacionog razvoja, komunikacije, timskog rada i liderstva. Nagrađena je od strane EBRU za naboljeg mentora za Žensko preduzetništvo u Jugoistočnoj Evropi. Akreditovani je mentor Univerziteta Kembridž za start-upove. Sandra je diplomirani ekonomista. Zavrsila postediplomske studije iz Upravljanja procesima tranzicije i rekonstrukcije, kao i specialističke studije iz Upravljanja procesima inovacija u MSP na Univerzitetu u Brajtonu, Velika Britanija.


            </p>
        </div>

        <div class="panelist">
            <h4 class="panelist-name">Boris Radović</h4>
            <p class="panelist-info">
                Diplomirani mašinski inženjer na smeru za Vazduhoplovstvo.Trenutno je zaposlen u Alumil YU kao menadžer proizvodnje. Odgovoran je za postizanje proizvodnih ciljeva fabrike, učestvuje u dostizanju kompanijskih ciljeva. Iza sebe nosi niz važnih projekata na poziciji vođe projekta. Neki od projekata su: “Uvođenje tehnologije ubacivanja tečnog azota u ekstruzioni proces sa ciljem da se poveća produktivnost, kvalitet i da se smanji škart”, “ Instalacija D-cube sistema za linijsku kontrolu kvaliteta na aluminijskim profilima tokom procesa ekstruzije (veštačka intelegencija u službi optimizacije procesa, smanjenja otpada i brzog donošenja odluka)” . Nakon diplomiranja bio je zaposlen kao načelnik odeljenja za opravku sklopova turbo mlaznih motora i tehničku podršku jedinicama.
            </p>
        </div>

        <h3 class="section-title">Ovogodišnji moderator:</h3>

        <div class="panelist">
            <h4 class="panelist-name">Nemanja Stojšić</h4>
            <p class="panelist-info">
                Vodeći stručnjak i mentor u oblasti upravljanja iskustvom zaposlenih i brendiranja poslodavaca. Diplomirani je turkolog, a nakon fakulteta je završio i specijalističke studije iz menadžmenta ljudskih resursa. Njegova stručnost je osnažena sertifikatima u oblastima Upravijanja promenama, PCM treninga i Strateskog planiranja. Trenutno radi uKuene + Naghel kao Senior Talent Acquisition Specialista. Njegova posvećenost i inovativnost donela su mu nominaciju za nagradu najboljeg employer branding profesionalca u Srbiji.
            </p>
        </div>

        <div class="event-details">
            <p>Panel diskusija – Most između znanja i budućnosti održaće se <strong>28. marta 2025.</strong> godine u prostoru Miljenko Dereta – Dobračina 55 u <strong>14h!</strong></p>
            <p class="highlight">Prisustvo je otvoreno za sve zainteresovane studente!</p>
            <p class="highlight-2">Vidimo se 28. marta!</p>
        </div>
    </section>
</body>


</html>
