
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;800&display=swap');

body{
  
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    background: none;
    color: #333;
    padding: 80px 20px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}

h1{
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 60px;
    background: white;
    max-width: 1200px;
    margin: 50px auto;
    padding-left: 55px;
    padding-right: 55px;
}

.about .content {
    width: 50%;
    max-width: 600px;
    padding: 15px;
    text-align: left;
}

.about .content h2 {
    font-size: 2.5rem;
    color: #faa41c;
    margin-bottom: 20px;
    font-weight: 800;
}

.about .content p {
    font-size: 1.2rem;
    line-height: 1.8;
    font-weight: 400;
}

.about .image {
    margin-top: 35px;
    padding: 15px;
    width: 50%;
    max-width: 600px;
    text-align: center; 
}



.about .image img {
    max-width: 100%;
    border-radius: 12px;
    box-shadow: 0px 6px 12px rgba(0,0,0,0.2);
}

.about .image img:hover {
    animation: skokic 0.6s ease-in-out infinite alternate;
}

@keyframes skokic {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

.categories {
    text-align: center;
    padding: 60px;
    background: #f2f2f3;
    padding-left: 55px;
    padding-right: 55px;
}

.categories h2 {
    font-size: 40px;
    color: #faa41c;
    margin-bottom: 40px;
    font-weight: 800;
}

.category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    max-width: 1200px;
    margin: auto;
}

.category {
    background: white;
    padding: 30px;
    width: calc(50% - 50px);
    max-width: 500px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 15px;
    text-align: center;
}

.category:hover {
    transform: scale(1.05);
}

.category h3 {
    font-size: 30px;
    color: #faa41c;
    margin-bottom: 15px;
    font-weight: 800;
}

.category p {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    text-align: justify;
}

@media (max-width: 768px) {
    .about {
        flex-direction: column;
        text-align: center;
        padding: 40px;
    }
    
    .about .content, .about .image {
        width: 100%;
        padding: 0;
    }
    
    .categories {
        padding: 40px;
    }
    
    .category-container {
        padding: 0 20px;
    }
    
    .category {
        width: 100%;
    }
}
