
<body>

    <header>
        <h1>Beogradski dani inženjera</h1>
    </header>
    <div class="about">
        <div class="content">
            <h2>O projektu BDI Beograd</h2>
            <p>Beogradski Dani Inženjera – projekat edukativnog i takmičarskog karaktera, namenjen je studentima tehničko-tehnoloških i prirodno-matematičkih fakulteta Univerziteta u Beogradu koji žele da unaprede svoje inženjerske, menadžerske, ali i prezentacione veštine. Četvoročlani timovi se nadmeću u dve takmičarske kategorije – Timskom dizajnu i Studiji slučaja.</p>
            <p>Pored samog takmičenja, u okviru Beogradskih Dana Inženjera održavaće se <strong>Panel diskusija</strong>, koja će biti otvorena za sve zainteresovane. Studenti će imati priliku da zajedno sa odabranim panelistima diskutiju i dobiju odgovore na pitanja vezana za profesiju kojom su odlučili da se bave.</p>
        </div>
        <div class="image">
            <img class="img" src="/brusilica.jpg" alt="Student">
            
        </div>
    </div>
    <div class="categories">
        <h2>Kategorije takmičenja</h2>
        <div class="category-container">
            <div class="category">
                <h3>Timski Dizajn</h3>
                <p>Predstavlja kategoriju takmičenja u kojoj takmičari imaju zadatak da tokom zadatog vremena i da sa ograničenim resursima osmisle uređaj, odnosno tehnologiju kojom se na najefikasniji način može rešiti problem na zadatu temu. Nakon što vreme istekne, data rešenja se prezentuju i testiraju pred stručnim žirijem i publikom. Željeni ishod je uređaj koji mora da ispuni unapred definisane kriterijume. Sve materijale i zadatke učesnici dobijaju na dan takmičenja. <br>
                Na ovaj način, studenti će moći da pokažu svoje znanje, kreativnost, sposobnost za rad u timu, kao i mnoge druge veštine koje čine mladog inženjera.</p>
            </div>
            <div class="category">
                <h3>Studija Slučaja</h3>
                <p>U pitanju je kategorija u kojoj učesnici, koristeći dosadašnje znanje i iskustvo, rešavaju zadati inženjersko-menadžerski problem, a rešenje izlažu pred stručnim žirijem.
                Do sada, učesnici su osmislili plan evakuacije Novog Beograda, unapređenje ambalaže i prodaje vode, pametnu kuću…
                <br>
                Kroz takmičenje u ovoj kategoriji, učesnici imaju prilike da pokazu i unaprede svoje veštine kao što su analitičnost, kreativnost i mnoge druge.
            </p>
            </div>
        </div>
    </div>   
</body>