<section class="gray1">
    <div class="vertdiv1">
        <div class="hordiv2">
            <div class="innovative-design">
                <div class="circle-gray">
                    <!-- gears slika-->
                </div>
                <p>Innovative design</p>
                <p>
                    Design a device, ie technology for a given purpose and improve your knowledge, teamwork skills and
                    other abilities.
                </p>
            </div>
            <div class="case-study">
                <div class="circle-gray">
                    <!-- man gear slika-->
                </div>
                <p>Case study</p>
                <p>
                    Find the best solution for the given problem and show your analyticity, creativity, and presentation
                    skills
                </p>


            </div>
        </div>
        <div class="hordiv3">
            <div class="vertdiv2">
                <h1>17</h1>
                <h3>Years</h3>
            </div>
            <div class="vertdiv2">
                <h1>100+</h1>
                <h3>Teams</h3>
            </div>
            <div class="vertdiv2">
                <h1>500+</h1>
                <h3>Participants</h3>
            </div>
        </div>
    </div>
</section>
