<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />


<section class="hero">
    <div class="overlay"></div>
    <div class="hero-content">
        <p>Beogradski dani inžinjera.</p>
        <img src="/bdiLogoBeli.png" alt="" class="logo">
        <p>Make the future.</p>
        <p>Today.</p>
        <div class="scroll-indicator">
            <div class="circle">
                <span class="arrow"><i class="fa-solid fa-angle-down"></i></span>
            </div>
        </div>
    </div>
</section>

<section class="gray1">
        <div class="hordiv2">
            <div class="innovative-design">
                <div class="circle-gray">
                    <img src="/gearsYellow.png" alt="">
                </div>
                <h3>Innovative design</h3>
                <p>
                    Design a device, ie technology for a given purpose and improve your knowledge, teamwork skills and
                    other abilities.
                </p>
            </div>
            <div class="innovative-design">
                <div class="circle-gray">
                    <img src="/manYellow.png" alt="">
                </div>
                <h3>Case study</h3>
                <p>
                    Find the best solution for the given problem and show your analyticity, creativity, and presentation
                    skills
                </p>


            </div>
        </div>
        <div class="stats">
            <div class="vertdiv2">
                <h1>{{ animatedValues[0] }}</h1>
                <h3>Years</h3>
            </div>
            <div class="vertdiv2">
                <h1>{{ animatedValues[1] }}+</h1>
                <h3>Teams</h3>
            </div>
            <div class="vertdiv2">
                <h1>{{ animatedValues[2] }}+</h1>
                <h3>Participants</h3>
            </div>
        </div>
</section>

<section class="about">
 <div class="about-best-pics">
    <img src="/about1.jpg" id="pic1" alt="">
    <img src="/about2.jpg" id="pic2" alt="">
    <img src="/about3.png" id="pic3" alt="">
 </div>
 <div class="about-best-text">
    <h1>BEST BELGRADE</h1>
    <p>BEST, Board of European Students of Technology, is a non-profit and non-political organisation. Since 1989 BEST has been
    providing communication, cooperation and exchange opportunities for students all over Europe. BEST Belgrade is one of
    three Local BEST Groups in Serbia, it was found in 2003 and since then it has become one of the most notable
    organisations in Belgrade.</p>
    <div class="read-more-button">
        READ MORE
    </div>
 </div>
</section>
