
<body>
    <header>
        <h1>Raspored</h1>
    </header>
   
    <div class="timeline">

        <div class="container left-container">
            
            <i class="fa-solid fa-circle"></i>
            <div class="text-box">
                <h2>Petak, 28. mart<br><span class="naslov">Panel diskusija - Most između budućnosti i znanja</span></h2>
                <p class="address">Prostor Miljenko Dereta, Dobračina 55</p> 
                <p>11.30h - Svečano otvaranje<br>
                   14h - Panel diskusija</p>
                <span class="left-container-arrow"></span>
            </div>
        </div>

        <div class="container right-container">
            <i class="fa-solid fa-circle"></i>
            <div class="text-box">
                <h2>Ponedeljak, 31. mart<br><span class="naslov">Timski dizajn</span></h2>
                <p class="address">MTS Dvorana, Dečanska 14</p>
                <p>09h-09.30h - Dolazak<br>
                   09.30h-10h - Prezentovanje zadatka<br>
                   10h-13h - Timski dizajn<br>
                   13h-13.30h - Pauza<br>
                   13.30h-16.30h - Timski dizajn<br>
                   16.30h-19h - Prezentovanje rešenja<br>
                   19h-20h - Proglašenje pobednika</p>
                <span class="right-container-arrow"></span>
            </div>
        </div>
        
        <div class="container left-container">
            <i class="fa-solid fa-circle"></i>
            <div class="text-box">
                <h2>Sreda, 2. april<br><span class="naslov">Studija slučaja</span></h2>
                <p class="address">CDT Hub, Kneza Miloša 12</p>
                <p>09h-09.30h - Dolazak<br>
                   09.30h-10h - Prezentovanje zadatka<br>
                   10h-13h - Studija slučaja<br>
                   13h-13.30h - Pauza<br>
                   13.30h-16.30h - Studija slučaja<br>
                   16.30h-19h - Prezentovanje rešenja<br>
                   19h-20h - Proglašenje pobednika<br>
                   20h-21h - Svečano zatvaranje</p>
                <span class="left-container-arrow"></span>
            </div>
        </div>

    </div>  
</body>
