<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">


<div class="hero">
    <div class="overlay"></div>
    <h1>Galerija</h1>
    <button (click)="scrollToGallery()" class="scroll-arrow">
        <i class="fa-solid fa-arrow-down"></i>
    </button>
  </div>
  
  <section #gallerySection class="gallery">
    <div
      *ngFor="let image of galleryImages; let i = index"
      class="image-container"
      (click)="openLightbox(i)"
    >
      <img [src]="image" alt="Galerija slika" />
    </div>
  </section>
  
  <div class="lightbox" *ngIf="lightboxOpen">
    <span class="close" (click)="closeLightbox()">
        <i class="fas fa-xmark"></i>
      </span>
      
    <img [src]="galleryImages[currentImageIndex]" class="lightbox-content" />
    <a class="prev" (click)="prevImage()">
        <i class="fas fa-chevron-left"></i>
      </a>
      <a class="next" (click)="nextImage()">
        <i class="fas fa-chevron-right"></i>
      </a>
  </div>
  