* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

.hero {
    background-image: url('/pozadina.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    animation: bgTint 2s forwards;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); 
}

@keyframes bgTint {
    from {
        background-color: transparent;
    }
    to {
        background-color: #1111119e;
    }
}

h1 {
    font-size: 48px;
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}

.scroll-arrow {
    position: absolute;
    bottom: 30px;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    animation: bounce 2s infinite;
    transform: translateX(-50%);
}

.scroll-arrow i {
    font-size: 48px;
    color: #fff;
    transition: transform 0.3s ease, color 0.3s ease;
}

.scroll-arrow:hover i {
    color: #faa41c;
    transform: scale(1.2);
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 60px;
    max-width: 1400px;
    margin: 0 auto;
}

.image-container {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container:hover {
    transform: scale(1.03);
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    flex-direction: column;
}

.lightbox-content {
    max-width: 90%;
    max-height: 80vh;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.close, .prev, .next {
    position: absolute;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close {
    top: 30px;
    right: 80px;
    font-size: 50px;
}

.prev {
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.next {
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.close:hover i, .prev:hover i, .next:hover i {
    transform: scale(1.2);
    color: #faa41c;
}
